.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

#imagenLogin {
  max-width: 400px;
}

#imagen1Index {
  height: fit-content;
  width: auto;
}

#imagen2Index {
  width: 0;
  height: 0;
}

#imagen3Index {
  width: 0;
  height: 0;
}

@media only screen and (max-width: 990px){

  #imagen1Index {
    height: 0;
  }

  #imagen2Index {
    height: fit-content;
    width: auto;
  }

  #imagen3Index {
    height: 0;
  }

}

@media only screen and (max-width: 768px){

  #imagen1Index {
    height: 0;
  }

  #imagen2Index {
    height: 0;
  }

  #imagen3Index {
    height: fit-content;
    width: auto;
  }

}

.form-login {
  max-width: 300px;
}

/* Código de index */

.checked {
  color: orange;
}

#encabezado {
  font-family: 'Raleway', serif !important;
  text-align: center;
  margin-top: 2%;
}

#categorias-nombre {
  font-family: 'Raleway', serif !important;
  color: #212529;;
  text-align: center;
  padding-bottom: 3%;
  font-size: 1.25rem;
  font-weight: 300;
}

.centrado {
  text-align: center;
  color: #212529;;
  margin-top: 15px;
}

.encabezado {
  font-family: 'Raleway', serif !important;
  text-align: center;
}

#miPerfil {
  color: rgba(255, 255, 255, 0.55);
}

#miPerfil:hover {
  color: rgba(255, 255, 255, 0.77);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;  
}

#cerrarSesion {
  color: rgba(255, 255, 255, 0.55);
}

#cerrarSesion:hover {
  color: rgba(255, 255, 255, 0.77);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#carrito {
  color: rgba(255, 255, 255, 0.55);
}

#carrito:hover {
  color: rgba(255, 255, 255, 0.77);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;  
}

#producto-nombre {
  margin-top: 2%;
  margin-bottom: 2%;
}

.elemento-titulo {
  margin-left: 5%;
  font-size: 150%;
  font-weight: bold;
}

.precio {
  margin-top: 2.5%;
}

.data {
  margin-left: 5%;
  font-size: 120%;
  margin-bottom: 3%;
}

#producto-imagenes {
  margin-top: 2%;
  margin-left: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.img-thumbnail:hover {
  background-color: #f7f7f7;
}

.titulo-comentarios {
  margin-left: 7%;
  font-weight: normal;
}

.comentarios-prod {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
  width: 60%;
  margin-left: 18%;
  padding-left: 8px;
}

.comUser {
  margin: auto;
  color: black;
  font-weight: bold;
}

.fecha {
  margin: auto;
  color: grey;
}

.descripcion {
  color: grey;
  margin: auto;
}

.parrafo-comentarios {
  margin-top: 2%;
  font-size: 120%;
}

.linea {
  margin-left: 7.2%;
  margin-right: 7.2%;
}

#textarea {
  margin-left: 11.7%;
}

#cantidad {
  margin-left: 11.7%;
}

#enviar {
  margin-left: 11.7%;
}

#contenedor-relacionados {
  margin-top: 2%;
  margin-left: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card:hover {
  background-color: #f7f7f7;
}

#producto-imagenes {
  margin-left: 0;
}

#inputBuscar {
  float: left;
  width: 250px;
  height: 38px;
}

.articulosComprar {
  font-size: xx-large;
}

#inputArticulo {
  width: 60px;
}

#modalOpcion {
  float: left;
  padding-right: 10px;
}

#enviarCompra {
  margin-top: 5%;
}

#feedback {
  display: none;
  color: red;
}

.conMargen {
  margin-left: 11.7%;
}